.book-list ul {
    padding: 0;
    margin: 20px -20px;
    list-style: none;
    user-select: none;
}

.book-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    list-style-type: none;
}

.book-list .header {
    position: relative;
}

.book-list button {
    position: absolute;
    top: -2px;
    right: 0px;
    display: flex;
    align-items: center;
    background-color: #be000087;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-list button:hover {
    background-color: #d00000d8;
}


.book-list .icon {
    margin-left: 6px;
    font-size: 18px;
}

.book-list li:nth-child(even) {
    background-color: #f2f2f2;
}

.book-list li:hover {
    background-color: #dbe4f8;
}

.book-list .delete-icon {
    color: rgba(0, 0, 0, 0.752);
    font-size: 23px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.book-list .delete-icon:hover {
    color: rgb(204, 7, 7);
}

.book-list .highlight {
    background-color: #ff0;
}

.book-list .book-info {
    flex: 1;
    text-align: left;
}

.book-list .book-info.source {
    color: #828282;
    font-size: 12px;
}

.book-list .book-actions {
    display: flex;
    align-items: center;
}

.book-list .star-icon {
    transform: translateY(2px);
    font-size: 23px;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #707070;
}

.book-list .star-icon.fill {
    font-size: 23px;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #ffa200;
}

.book-list .star-icon:hover {
    color: #ffa200;
}

.book-list .star-icon.fill:hover {
    color: #707070;
}